body {
    margin: 0;
    background: #4A4A52;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('/animation\ 3d\ GIF\ by\ eyedesyn.gif');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #282828;
    background: #f87a21;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 20px 10px rgba(40, 40, 40, 0.5);
}

button:hover {
    filter: brightness(95%);
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    cursor:default;
    filter: brightness(30%);
}
/* Media Queries */
@media screen and (max-width: 1000px) {
    .container {
        background-size: cover;
        background-position: center center;
    }

    button {
        box-shadow: 5px 5px 30px 20px rgba(40, 40, 40, 0.5);
    }
}